@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Action 缓存</title>
</head>
<body>
    <div>
        <h2>@ViewBag.CurrentTime</h2>
    </div>
</body>
</html>
